<nav id="nav-main">
    <!-- <div class="nav-menu-button-container" aira-label="nav-menu-button-container">
        <svg aria-label="nav-menu-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
        </svg>
    </div> -->
    
    <svg class="nav-menu-button" aria-label="nav-menu-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
    </svg>

    <div class="nav-brand-label-container" aria-label="nav-brand-label-container">
        <a href="#"><h1>C3 Health</h1></a>
    </div>
</nav>